@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.bg {
    background-image: url(img/back.png);
    width: 1920px;
    height: 800px;
    margin: 0 auto;
}

header {
    display: flex;
    background: rgba(0, 91, 193, 0.6);
    height: 80px;
}

.header__items {
    display: flex;
    margin-top: 11px;
    margin-left: 40px;
}

.header__items-logo {
    width: 140px;
    height: 58px;
}

.header__items-menu-items {
    display: inline;
    margin-left: 26px;
}

.header__items-menu {
    margin-left: 529px;
    margin-top: 19px;
}



.sub__title {
    margin-left: 595px;
    margin-top: 202px;
    position: absolute;
    max-width: 635px;
}

.sub__title-f {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
}

.sub__title-t {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
}

.sub__title-b {
    margin-top: 40px;
    width: 160px;
    height: 51px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}

.slider__items {
    display: flex;
    justify-content: space-between;
}

.slider__items-logo {
    margin-top: 18px;
}

.slider__items-title {
    color: #343434;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 40px;
}

.box {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: 2px solid #005BC1;
    text-align: center;
}

.slider__photos-items  {
    width: 540px;
    height: 400px;
    
}

.slider__photos {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.slider__photos-items-desc {
    background-color: white;
    width: 250px;
    height: 110px;
    margin-left: 255px;
    margin-top: 255px;
}

.slider__photos-items-desc-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding-top: 15px;
    margin-left: 25px;
}

.slider__photos-items-desc-sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-top: 14px;
    margin-left: 25px;
}

.sub__title-b:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.catalog__title_1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
}

.catalog__title_2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
}

.catalog__title_1:hover {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

.catalog__title_2:hover {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

.slider__goods {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.slider__goods-items {
    width: 350px;
    height: 300px;
    border: 1px solid #005BC1;
    display: flex;
    justify-content: right;
}

.slider__goods-items-desc {
    background-color: #005BC1;
    width: 265px;
    height: 86px;
    margin-top: 199px;
}

.slider__goods-items-desc-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 21px;
}