@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

a {
    text-decoration: none;
    color: white;
    transition: 0.3s ease-out;
}

a:hover {
    text-decoration: underline;
}

body {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

.bg {
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    background-color: #005BC1;
    max-width: 100%;
    height: 800px;
    margin: 0 auto;
}

header {
    background: rgba(0, 91, 193, 0.6);
    height: 80px;
    margin: 0 auto;
}

.header__items {
    display: flex;
    justify-content: space-around;
}

.header__items-logo {
    width: 140px;
    height: 58px;
    margin-left: 40px;
    margin-top: 11px;
}

.header__items-menu-items {
    display: inline;
    margin-left: 26px;
}

.header__items-menu {
    margin-top: 31px;
}

.sub__title {
    margin-left: 595px;
    margin-top: 202px;
    position: relative;
    z-index: 2;
    max-width: 635px;
}

.sub__title-f {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 71px;
}

.sub__title-t {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 40px;
}

.sub__title-b {
    margin-top: 40px;
    width: 160px;
    height: 51px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-out;
}

.slider__items {
    display: flex;
    justify-content: space-between;
}

.slider__items-logo {
    margin-top: 18px;
}

.slider__items-title {
    color: #343434;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 40px;
}

.box {
    height: 55px;
    width: 55px;
    background-color: transparent;
    border: 2px solid #005BC1;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.slider__photos-items  {
    max-width: 540px;
    max-height: 400px;
    
}

.slider__photos {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
}

.slider__photos-items-desc {
    background-color: white;
    max-width: 250px;
    max-height: 110px;
    margin-left: 255px;
    margin-top: 255px;
}

.slider__photos-items-desc-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    padding-top: 15px;
    margin-left: 25px;
}

.slider__photos-items-desc-sub {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
    margin-top: 14px;
    margin-left: 25px;
}

.sub__title-b:hover {
    background-color: white;
    color: black;
    border-color: black;
}

.catalog__title_1 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
}

.catalog__title_2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

.catalog__title_1:hover {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

.catalog__title_2:hover {
    color: #005BC1;
    border-bottom: 2px solid #005BC1;
}

.slider__goods {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.slider__goods-items {
    width: 350px;
    height: 300px;
    border: 1px solid #005BC1;
    display: flex;
    justify-content: right;
}

.slider__goods-items-desc {
    background-color: #005BC1;
    width: 265px;
    height: 86px;
    margin-top: 199px;
}

.slider__goods-items-desc-text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-left: 21px;
}

.rent__items {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.rent__items-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #343434;
}

.rent__items-good {
    border: 2px solid #005BC1;
    width: 665px;
    max-height: 394px;
    padding: 30px;
    margin-left: 95px;
}

.rent__items-goods-top-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}

.rent__items-goods-top {
    display: flex;
    width: 665px;
    justify-content: space-between;
    align-items: center;
}

.rent__items-goods-bottom {
    display: flex;
    margin-top: 30px;
}

.rent__items-goods-bottom-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-left: 30px;
}

.rent__items-goods-bottom-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    
    color: #343434;
    margin-left: 30px;
    margin-top: 30px;
}

.box:hover {
    transform: scale(1.1);
    border-right: 2px solid #005BC1;
}

.news {
    margin-top: 108px;
}

.news__title {
    text-align: center;
    background-color: #005BC1;
    width: 190px;
    height: 51px;
    margin-top: 13px;
    border: none;
    outline: none;
    cursor: pointer;
}

.news__title-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}

.news__items {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    max-height: 242px;
}

.news__items-main {
    display: flex;
    max-width: 540px;
}

.news__items-main-items {
    margin-left: 30px;
}

.news__items-main-items-title {
    display: flex;
    justify-content: space-between;
}
.news__items-main-items-title-left {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    /* black */
    
    color: #343434;
}

.news__items-main-items-title-right {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: right;
    
    color: #979797;
}

.news__items-main-items-desc {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    
    /* black */
    
    color: #343434;
    margin-top: 42px;
}

.news__items-main-items-read {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-decoration-line: underline;
    
    /* black */
    transition: 0.2s ease;
    margin-top: 21px;
}

.news__items-other {
    max-width: 225px;
    max-height: 242px;
}

.news__items-other-title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    /* black */
    
    color: #343434;
}

.news__items-other-desc {
    /* p.small-text */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    
    /* black */
    
    color: #343434;
    margin-top: 20px;
}

.news__items-other-vision {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.news__items-main-other-title-right {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: right;
    
    color: #979797;
    margin-top: 95px;
}

footer {
    background-color: #005BC1;
    height: 275px;
    margin-top: 120px;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    text-align: center;
}

.footer__top-phone {
    /* h4 */

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    /* white */
    
    color: #FFFFFF;
}

.footer__top-desc {
    /* p.top-menu */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    text-align: center;
    
    /* white */
    
    color: #FFFFFF;
}

.footer__line {
    margin-top: 25px;
    background-color: white;
    width: 100%;
    height: 1px;
}

.footer__mid {
    margin-top: 25px;
}

.footer__mid-text {
    /* p.small-text */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* white */
    
    color: #FFFFFF;
}

.footer__mid-top {
    display: flex;
}

.footer__mid-bot {
    display: flex;
}

.footer__mid-link:hover {
    text-decoration: underline;
}

.footer__bot-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.footer__bot-container-text {
    /* p.small-text */

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */


    /* white */

    color: #FFFFFF;
}